<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channge Password</title>
</head>

<body>
    <h2>Change Your Password</h2>
    {% for message in messages %}
        <p class="{% if message.tags == 'error' %}error{% else %}success{% endif %}">{{ message }}</p>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <label>Old Password:</label>
        <input type="password" name="old_password" required>

        <label>New Password:</label>
        <input type="password" name="new_password" required>

        <label>Confirm New Password:</label>
        <input type="password" name="confirm_password" required>

        <button type="submit">Change Password</button>
    </form>
</body>

</html>