<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Cover Image</title>
</head>

<body>
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <form action=""method="POST" enctype="multipart/form-data">
        {%csrf_token %}
        <label for="">Cover Image</label>
        <input type="file" name="coverimage" accept="image/*"><br>
        <input type="submit" value="Update Cover Image">

    </form>

</body>

</html>